* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  min-height: 100vh;
  /* width: 100vw; */
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  padding: 20px;
}

/* header */
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

header {
  /* width: 100%; */
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0px;
  margin-top: -20px;
  /* border: 1px solid white; */
  position: fixed;
  left: 20px;
  right: 20px;
  gap: 100px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
}

.social-icons i {
  color: white;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}
.social-icons i:hover {
  color: gray;
}

/* main  */
main {
  margin-top: 80px;
}

/* hero section */

.hero-section {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("photo/pizza1.png") center/cover no-repeat;
  padding: 40px 20px;
  border: 1px solid white;
  border-radius: 8px; */
  height: 100vh;
}

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-title,
.hero-hr,
.hero-text {
  max-width: 600px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.hero-title {
  font-family: Quattrocento;
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 1;
}

.hr {
  border: none;
  height: 5px;
  background-color: red;
  margin-bottom: 20px;
}

.hero-text {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* about section */

.about-section {
  height: 100vh;
  padding: 0px 20px;
}
.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.about-hr {
  margin: 0 auto;
  border: none;
  height: 3px;
  width: 20%;
  background-color: red;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 20px 0;
  gap: 200px;
}
.about-section img {
  width: 35%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about-section p {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.6;
}

/* menu section */
.menu-section {
  height: auto;
  padding: 0px 20px;
  margin-bottom: 40px;
}
.menu-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.menu-hr {
  border: none;
  height: 3px;
  background-color: red;
  margin: 0 auto;
  width: 20%;
}

.menu-items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 1fr));
  gap: 20px;
  place-content: center;
  place-items: center;
}
.menu-item {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}
.menu-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.menu-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
.menu-item h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.menu-item p {
  font-size: 1rem;
  color: #ccc;
}

/* carousel */

/* Gallery Section */
.gallery-section-container {
  /* background-color: #111; */
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto 40px auto;
}
.gallery-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gallery-hr {
  border: none;
  height: 3px;
  background-color: red;
  margin: 0 auto;
  width: 20%;
}

.gallery-images {
  display: grid;
  width: 70%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
  margin-top: 30px;
  place-content: center;
  place-items: center;
}
.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-images img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.gallery-image1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.gallery-image2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gallery-image3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* footer */
footer h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-hr {
  border: none;
  height: 3px;
  background-color: red;
  margin: 0 auto 30px auto;
  width: 20%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 40px 20px;
}

footer h2 {
  margin-bottom: 15px;
}
.footer-content {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 500px;
}

.map-container {
  width: 400px;
  height: auto;
  border: 2px solid white;
  border-radius: 8px;
}

.footer-note {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #ccc;
}
